<body>
  <section class="row mt-2">
    <div class=" col-2 bg-dark"></div>
    <div class="  col-3 bg-primary"></div>
    <div class=" col-2 bg-success d-flex justify-content-center">
      <a class="neumorphic neumorphic--pressed variation1 pressed">
        <span>
          <strong class="d-flex flex-column">
            <img
              class="circle"
              style="width: 70%"
              src="\assets\img\alerteico.jpg"
              alt=""
            />
            <div>
              <p style="width: 10%; font-size: 25%">ALERTE</p>
            </div>
          </strong>
        </span>
      </a>
    </div>
    <div class="  col-3 bg-primary"></div>
    <div class=" col-2 bg-dark"></div>
  </section>

  <section class="row">
    <div class=" bg-dark col-2"></div>
    <div class="col-3 bg-primary d-flex justify-content-end">
      <div class="neumorphic neumorphic--pressed variation1 pressed">
        <span>
          <strong class="d-flex flex-column">
            <img
              class="circle"
              style="width: 70%"
              src="\assets\img\receipt.png"
              alt=""
            />
            <div>
              <p style="width: 10%; font-size: 25%">INFO</p>
            </div>
          </strong>
        </span>
      </div>
    </div>
    <div class=" col-2   bg-success "></div>
    <div class=" col-3 bg-info">
      <div class="neumorphic neumorphic--pressed variation1 pressed">
        <span>
          <strong class="d-flex flex-column">
            <img
              class="circle"
              style="width: 70%"
              src="\assets\img\customer.png"
              alt=""
            />
            <div>
              <p style="width: 10%; font-size: 25%">CLIENT</p>
            </div>
          </strong>
        </span>
      </div>
    </div>
    <div class="bg-dark col-2"></div>

  </section>
  <section class="row mb-2">
    <div class=" col-2"></div>
    <div class="  bg-primary col-3"></div>
    <div class=" col-2   bg-success d-flex justify-content-center">
      <div class="neumorphic neumorphic--pressed variation1 pressed">
        <span>
          <strong class="d-flex flex-column">
            <img
              class="circle"
              style="width: 70%"
              src="\assets\img\setting.png"
              alt=""
            />
            <div>
              <p style="width: 10%; font-size: 25%">OUTIL</p>
            </div>
          </strong>
        </span>
      </div>
    </div>
    <div class="  bg-primary  col-3">c</div>
    <div class=" bg-dark  col-2"></div>
  </section>

</body>

 <!--
   bg-dark
   bg-primary
   bg-success
   <section class=" bg-success col-4">
    <div class="neumorphic neumorphic--pressed variation1 pressed">
      <span>
        <strong class="d-flex flex-column">
          <img
            class="circle"
            style="width: 70%"
            src="\assets\img\alerteico.jpg"
            alt=""
          />
          <div>
            <p style="width: 10%; font-size: 25%">ALERTE</p>
          </div>
        </strong>
      </span>
    </div>
  </section> -->
<!-- <section>
  <div class="neumorphic variation1">
    <span><strong>★</strong></span>
  </div>
</section>
-->





