<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!--  lien  du CDN  font-awesome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  />
  </head>
  <body>
    <div class="logo1">
      <h2 >E-ALERT SECURE</h2>
    </div>

    <div class="content my-5">


      <!--Image user  & Titre-->
      <img
        src="https://lh3.googleusercontent.com/a-/AOh14Gj99VObFyE8W_h8RrcwZO_aYiIHu5AAa_XpnOym=s600-k-no-rp-mo"
      />
      <div class="text">CONNEXION</div>
      <form action="#">
        <!--Email & password input place-->
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>Email </label>
        </div>

        <div class="field">
          <span class="fa fa-lock"></span>
          <input type="password">
          <label>Mot de passe </label>
        </div>
        <!--bouton de validation  & autre bouton-->
        <button>Soumettre</button>

        <div class="or">ou</div>
        <div class="icon-button">


          <span class="facebook"><i class="fa fa-facebook"></i>  Facebook</span>

          <span><i class="fa fa-google"></i>  Google</span>


        </div>
      </form>
      <footer>
         <p></p>
        </footer>
    </div>
  </body>
</html>
