
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!--  lien  du CDN  font-awesome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="content my-5">
      <!--Image user  & Titre-->

      <div class="text">INSCRIPTION</div>
      <form action="#">
        <!--Email & password input place-->

        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>nom</label>
          
        </div>      <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>nom</label>
        </div>


        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>nom</label>
        </div>
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>prenom</label>
        </div>

        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>Ref CNIB</label>
        </div>

        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required />
          <label>Email </label>
        </div>

        <div class="field">
          <span class="fa fa-lock"></span>
          <input type="password">
          <label>Mot de passe </label>
        </div>

        <div class="field">
          <span class="fa fa-lock"></span>
          <input type="password">
          <label> Confirmation du mot de passe </label>
        </div>
        <!--bouton de validation  & autre bouton-->
        <button>Valider</button>

        <div class="or">ou</div>
        <div class="icon-button">


          <span class="facebook"><i class="fa fa-facebook"></i>  Facebook</span>
          <span><i class="fa fa-google"></i>  Google</span>


        </div>
      </form>
    </div>
  </body>
</html>
